.header {
    background-color: #212121;
    height: 80px;
}

.navigation {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
}

.navigation__logo {
    width: 140px;
    height: 34px;
}
